/* Dropdown Button */

.dropbtn {
  background-color: rgba(253, 253, 253, 0.7);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.789);
  z-index: 1;
  max-height:400px;
  border: 2px solid;
  overflow:scroll;
  scrollbar-track-color: black;
}

/* Crpto - dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px rgb(0, 0, 0) solid;
}

/* The search field */
.searchFilter {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  background: black;
  color: white;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

/*Name under logo*/
#buy-button {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
}
/*Name under logo*/
#sell-button {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
}

.max-token {
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
}

#myInput:focus {outline: 2px solid rgb(255, 254, 254);}
.dropdown-content a:hover {background-color: rgb(243, 240, 240)}
.show {display:block;}
