@import 'select-currencies.css';
@import 'navbar.css';
@import 'footer.css';
@import 'modal.css';

html, body {
  margin: 0;
  height: 100%;
  background: black;
}

.wrapper {
  background: linear-gradient(#070707, rgb(0, 0, 0));
  min-height: 100%;
  margin-bottom: -40px;
}

.buffer-top {
  background-color: black;
}

.container {
  background-color: black;
  padding-top: 40px;
  color: rgb(0, 0, 0), 214, 0);
}

.buffer {
  padding-top: 70px;
}

.title {
  margin-right: 3em !important;
  margin-left: 3em !important;
  margin-bottom: 30px;
  border-radius: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.swap-card {
  background-color: rgb(0, 0, 0);
  margin-right: 3em;
  margin-left: 3em;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.3);
  border: 1px solid rgb(250, 250, 250);
  padding-bottom: 30px;
  padding-top: 30px;
}

#sell-card {
/*  display: flex; */
  flex-direction: column;
  width: 200px;
}

.sell-title {
  align-self: baseline;
  margin-top: 15px;
}

.sell-token-content {
  margin-bottom: 10px;
  background-color: inherit;
}

.token-content  {
  height: 145px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: inherit;
  border: 0 solid;
  border-radius: 0px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0);
  /*outline: 1px solid;*/
  outline-color: rgb(0, 0, 0);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.token-content:hover {
  border: 1px solid;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 0.973);
  outline-color: rgb(250, 249, 249);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #ffffff;
}

#buy-card {
  flex-direction: column;
  width: 200px;
}

.buy-title {
  align-self: baseline;
  margin-top: 15px;
}

.buy-token-content {
  margin-bottom: 10px;
  background-color: inherit;
}

  /*Token name selection*/

.dropbtn {
  background-color: inherit;
  color: rgb(255, 255, 255);
  font-family: 'Muli', sans-serif;
  padding: 32px;
}

  /*Input fields*/
.sell-input-content {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
}

.buy-input-content {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
}

/*Amount input fields*/
.form-control {
  margin-top: 0.2rem;
}

#src-amount {
  align-self: baseline;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  opacity: 1;
  background-color: inherit;
  border-radius: 0;
  height: 30px;
  color: rgb(255, 255, 255);
}

#dest-amount {
  align-self: baseline;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  opacity: 1;
  background-color: inherit;
  border-radius: 0;
  height: 30px;
  color: rgb(255, 255, 255);
}

/*Input symbol*/
.input-symbol {
  align-self: baseline;
  border-bottom: 1px solid rgb(251, 251, 251);
  height: 25px;
  font-weight: bold;
  color: #ffffff;
}

/*Swap Button*/

#swap-button {
  margin-top: 40px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-weight: small;
  border: 2.4px solid rgb(255, 255, 255);
  border-radius: 1px;
  font-size: 1.2rem;
}

#swap-button:hover {
  background-color: rgba(137, 255, 97, 0.734);
  box-shadow:0 0 0;
  outline-color: rgb(255, 255, 255);
  outline-offset: 15px;
}

/*CREDITS*/

.credits {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.3);
  border: 1px solid rgb(250, 250, 250);
  padding-bottom: 5px;
  margin-right: 3em !important;
  margin-left: 3em !important;
}

.credit-item {
  padding-top: 25px;
  padding-bottom: 30px;
}

.token-logo {
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
}

 /*Swap Images*/
.swap-image-parent {
  min-height: 40px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swap-image {
  width: 3em;
  height: 3em;
}

.swap-image:hover {
  cursor: pointer;
}

.empty-swap-image {
  width: 2em;
  height: 2em;
}
